*{
margin: 0;
padding: 0;
box-sizing: 'poppin',sans-serif;
}
body {
    font-family: Arial, sans-serif;
    width: 10%;
    background-color: #fded06;
}

.container {
    width: 300px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ee05a8;
    border: 1px solid #f308df;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    
}


input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
    
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    color: #23527c;
}